/* initialize */
* {
    margin: 0;
    padding: 0;
}

/* Scrollbar */
body::-webkit-scrollbar {
width: 10px;
}

body::-webkit-scrollbar-thumb:hover {
background: gray;
}

body::-webkit-scrollbar{
    background-color: transparent;

}

body::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 15px;
}

/* Body */
body {
    background-color: rgb(30, 24, 66);
    font-family: 'Poppins', sans-serif;
    /* font-size: 62.5%; */
    color: white;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(43, 36, 84);
    height: 95px;
}

a{
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #814BF6;
}

main hr {
    border: 0;
    height: 1.5px;
    margin: 30px 80px;
    background: #814BF6;
}

/* First sec */
.left {
    font-size: 1.5rem;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
    height: 65vh;
}

.first-section>div {
    width: 40%;
}

.leftSection {
    font-size: 3rem;
}

.rightSection img {
    width: 100%;
}

.dev-name,
#element {
    color: #814BF6;
}

/* Second sec */
.second-section {
    /* max-width: 80vw; */
    margin: 20px 100px;
    height: 84vh;
}

.second-sub1{
    margin: 20px 0px 100px 40px;
}

.second-section h2 {
    margin-top: 190px;
}

.second-sub2 {
    margin: 20px 0px 10px 40px;
}
.second-sub1 .horizontal-line {
    background: white;
    display: flex;
    width: 50vw;
    height: 2px;
    margin: 60px 0;
}

.second-sub1 .vertical-line {
    background-color: white;
    height: 80px;
    width: 1.5px;
    margin: 0 122px;
}

.vertical-title {
    position: relative;
    top: 95px;
    width: 170px;
}

.vertical-duration {
    position: relative;
    top: 100px;
    color: gray;
    width: 150px;
    font-size: 11px;
}

.second-sub2 .horizontal-line {
    background: white;
    display: flex;
    width: 35vw;
    height: 2px;
    margin: 60px 0;
}

.second-sub2 .vertical-line {
    background-color: white;
    height: 80px;
    width: 1.5px;
    margin: 0 122px;
}

.remark{
    color: #FF665E;
    font-weight: 550;
    font-size:x-small;
}

/* Third sec */
.third-section{
    margin: 20px 100px;
}

.card-div{
    display: flex;
    justify-content:center;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(218, 215, 215);
    padding: 12px;
    width: 300px;
    height: 430px;
    margin: 25px 28px;
    border-radius: 9px;
    color: black;
    font-weight: 480;
    overflow: hidden;
}
.card .img-box{
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.img-box img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: all ease 1s;
    overflow: hidden;
}
.card p{
    text-align:justify
}
.img-box:hover img{
    scale: 1.1;
}
.card h3{
    color: #814BF6;
}
.card h3:hover{
    color: #FF665E;
}


/* Fourth sec */
.fourth-section{
    margin: 20px 100px;
}

.fourth-sub{
    display: flex;
    justify-content: space-around;
}

.fourth-sub .left-section img{
    margin: 40px 30px 45px 60px;
    height: 300px;
    width: 200px;
    border-radius: 7px;
}

.right-section{
    margin: 45px 30px 45px 25px;
    /* justify-content: space-evenly; */
    text-align: justify;
    font-weight: 500;
    font-size: medium;
}

/* Fifth sec */
.fifth-section{
    margin: 20px 100px;
}

.fifth-sub2 h3{
    margin: 20px 20px;
}

.fifth-sub2 img{
    margin: 18px 15px;
    height: 4.4rem;
    justify-content: space-around;

}

/* Footer */
footer {
    background-color: rgb(43, 36, 84);
}

.footer-content ul {
    display: flex;
    margin: 23px 122px;
    justify-content: space-evenly;
    list-style: none;
}

.footer-content ul li {
    color: white;
    margin: 30px 71px;

}

.footer-content ul li a {
    text-decoration: none;
    color: white;
}

.footer-content ul li a:hover {
    color: #814BF6;
}

footer .footer-importent {
    text-align: center;
    color: #FF665E;
    padding: 12px 0;
}
footer .footer-rights {
    text-align: center;
    color: rgb(143, 136, 136);
    padding: 12px 0;
}